#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
    'A B B'
    'C B B'
    'C B B'
    'C D D';
  gap: 1.5rem;
  max-width: 57rem;
  width: 100%;

  & > div {
    border-radius: 16px;
    border: 1px solid var(--gray-300);
    background: var(--gray-100);
  }
}

@media (width <= 60em) {
  body {
    padding: 2rem 0.75rem 0.9375rem 0.75rem;
  }

  .container {
    grid-template-areas: 'A' 'B' 'C' 'D';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0.5rem;
    max-width: 100vw;
  }

  header {
    width: 100%;

    & div {
      width: inherit;
    }
  }
}